### Group3_Project-TWO | News API
<hr />
Looking for signal in the noise using News APIsl; limited to 100 days.<br>

&nbsp;
<ul>
<font size="1" color="silver">10AUG2021</font><br>
<p>Working on some of the logic here in case we want to go down the path of displaying a recent sentiment summary for a given ticker.
</ul>
&nbsp;
<ul>
<font size="1" color="silver">14AUG2021</font><br>
<p>Made changes to the logic so that a simple "find and replace" could deliver today's sentiment on any given ticker in our S&amp;P data frame.
</ul>

In [1]:
## I just put this into everything now so I don't wast time reading the warnings.

import warnings
warnings.filterwarnings('ignore')

In [2]:
## --- Most of this is from the crypto sentiment HW.

In [3]:
## Doing some initial imports from the crypto_sentiment HW.

import os
import pandas as pd
from dotenv import load_dotenv

In [4]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\rotar\anaconda3\lib\site-packages (3.6.2)
Requirement already satisfied: joblib in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: click in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: tqdm in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (4.61.1)

In [5]:
import nltk as nltk

## nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

In [6]:
## I had trouble getting my base environment to read my API keys.
## Trying pip install python-dotenv to make sure it can see the .env file.

!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\rotar\anaconda3\lib\site-packages (0.17.1)

In [7]:
## So far, so good.

from newsapi import NewsApiClient

In [8]:
%load_ext dotenv
%dotenv

In [9]:
# Read your api key environment variable

newsapi_key = os.getenv("NEWSAPI_ORG_KEY")

In [10]:
newsapi = NewsApiClient(api_key=newsapi_key)
newsapi

In [11]:
# Fetch the relevant news articles
## Study group says we're sorting by "relevancy"; sounds right.
## Naming this one tezos_articles, because I'm using for articles about Tezos.

tsla_articles = newsapi.get_everything(
    q="tsla", language="en", sort_by="relevancy"
    )

In [12]:
## Let's see if that worked.
## Show some sample articles.

tsla_articles["articles"][:1]

[{'source': {'id': None, 'name': 'MarketBeat'},
  'author': 'Sam Quirke',
  'title': 'Where Does Tesla (NASDAQ: TSLA) Go From Here?',
  'description': 'Tesla’s (NASDAQ: TSLA) Q2 earnings were released after the bell rang to end yesterday’s session, and gave Main Street and Wall Street alike a much awa...',
  'url': 'https://www.marketbeat.com/originals/where-does-tesla-nasdaq-tsla-go-from-here/?utm_source=entrepreneurcom&amp;amp;utm_medium=entrepreneurcom',
  'urlToImage': 'https://assets.entrepreneur.com/providers/marketbeat/hero-image-marketbeat-378510.jpeg',
  'publishedAt': '2021-07-27T11:00:00Z',
  'content': 'This story originally appeared on MarketBeatTesla’s (NASDAQ: TSLA) Q2 earnings were released after the bell rang to end yesterday’s session, and gave Main Street and Wall Street alike a much-awaited … [+4129 chars]'}]

In [13]:
## Let's make a variable to count the results.

tsla_total = tsla_articles["totalResults"]
print(tsla_total)

746

In [28]:
## Now I'll print an f-string (for later).
print(f"There were {tsla_total} articles written about tsla in our News API range.")

There were 746 articles written about tsla in our News API range.

In [15]:
## So far, so good!

In [16]:
# Creating the ticker sentiment scores DataFrame
## This came with a *TON* of help from the study group and copy/pasting from class work.

tsla_sentiment = []

for article in tsla_articles["articles"]:
    try:
        text = article["content"]
        sentiment = analyzer.polarity_scores(text)
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        tsla_sentiment.append({
            "positive": pos,
            "negative": neg,
            "neutral": neu,
            "text": text
        })
        
    except AttributeError:
        pass

In [17]:
tsla_sentiment_df = pd.DataFrame(tsla_sentiment)
tsla_sentiment_df.head()

,positive,negative,neutral,text
0,0.000,0.0,1.000,This story originally appeared on MarketBeatTe...
1,0.000,0.0,1.000,A version of this story first appeared in CNN ...
2,0.000,0.0,1.000,Tesla’s second quarter earnings revealed a rec...
3,0.164,0.0,0.836,"August\r\n10, 2021\r\n6 min read\r\nThis story..."
4,0.182,0.0,0.818,This story originally appeared on MarketBeat\r...

In [18]:
## Describe the ticker Sentiment

tsla_sentiment_df.describe()

        positive   negative    neutral
count  20.000000  20.000000  20.000000
mean    0.062500   0.020600   0.916900
std     0.068416   0.045981   0.072209
min     0.000000   0.000000   0.815000
25%     0.000000   0.000000   0.846500
50%     0.057000   0.000000   0.917500
75%     0.097750   0.000000   1.000000
max     0.185000   0.158000   1.000000

In [19]:
## Converting the description to a df.

tsla_described_df = tsla_sentiment_df.describe()
tsla_described_df

        positive   negative    neutral
count  20.000000  20.000000  20.000000
mean    0.062500   0.020600   0.916900
std     0.068416   0.045981   0.072209
min     0.000000   0.000000   0.815000
25%     0.000000   0.000000   0.846500
50%     0.057000   0.000000   0.917500
75%     0.097750   0.000000   1.000000
max     0.185000   0.158000   1.000000

In [20]:
tsla_described_df['positive']['mean']

0.0625

In [21]:
## This is the logic for generating the "answers" to some of the questions.

tsla_pos = round(tsla_described_df['positive']['mean'],2)*100
tsla_neg = round(tsla_described_df['negative']['mean'],2)*100
tsla_neu = round(tsla_described_df['neutral']['mean'],2)*100
print(f"There were {tsla_total} articles written about tsla in our range; of those, {tsla_pos}% of the articles were positive, {tsla_neg}% were negative, and {tsla_neu}% were neutral.")

There were 746 articles written about tsla in our range; of those, 6.0% of the articles were positive, 2.0% were negative, and 92.0% were neutral.

<br>
<hr />

In [22]:
## Below this line is "scratch paper".

In [23]:
## --- ## --- ## --- ##

In [24]:
## This is work I was doing to isolate the volume of chatter as articles per day.

## fomoco_articles = newsapi.get_everything(q='ford motor company',
##    from_param='2021-07-10',
##    to='2021-08-10',
##    language='en',
##  sort_by='relevancy',
##  page=1
##  )

In [25]:
## fomoco_articles['articles'][0]['publishedAt']

In [26]:
## for i in range(0,len(fomoco_articles['articles'])):
##

In [27]:
## print(fomoco_articles['articles'][i]['publishedAt'])