### Group3_Project-TWO | News API
<hr />
Looking for signal in the noise using News APIsl; limited to 100 days.<br>

&nbsp;
<ul>
<font size="1" color="silver">10AUG2021</font><br>
<p>Working on some of the logic here in case we want to go down the path of displaying a recent sentiment summary for a given ticker.
</ul>

In [1]:
## I just put this into everything now so I don't wast time reading the warnings.

import warnings
warnings.filterwarnings('ignore')

In [2]:
## --- Most of this is from the crypto sentiment HW.

In [3]:
## Doing some initial imports from the crypto_sentiment HW.

import os
import pandas as pd
from dotenv import load_dotenv

In [4]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\rotar\anaconda3\lib\site-packages (3.6.2)
Requirement already satisfied: tqdm in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (4.61.1)
Requirement already satisfied: joblib in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: click in c:\users\rotar\anaconda3\lib\site-packages (from nltk) (7.1.2)

In [5]:
import nltk as nltk

## nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

In [6]:
## I had trouble getting my base environment to read my API keys.
## Trying pip install python-dotenv to make sure it can see the .env file.

!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\rotar\anaconda3\lib\site-packages (0.17.1)

In [7]:
## So far, so good.

from newsapi import NewsApiClient

In [8]:
%load_ext dotenv
%dotenv

In [9]:
# Read your api key environment variable

newsapi_key = os.getenv("NEWSAPI_ORG_KEY")

In [10]:
newsapi = NewsApiClient(api_key=newsapi_key)
newsapi

In [11]:
# Fetch the relevant news articles
## Study group says we're sorting by "relevancy"; sounds right.
## Naming this one tezos_articles, because I'm using for articles about Tezos.

aapl_articles = newsapi.get_everything(
    q="aapl", language="en", sort_by="relevancy"
    )

In [12]:
## Let's see if that worked.
## Show some sample articles.

aapl_articles["articles"][:1]

[{'source': {'id': None, 'name': 'StockNews.com'},
  'author': 'Christian Tharp',
  'title': 'What’s Next for Apple as it Forms a Key Resistance Level?',
  'description': 'A resistance line has formed in the chart of Apple Inc. (AAPL). This line has prevented AAPL from hitting a new 52 week high. But if the stock breaks...',
  'url': 'https://stocknews.com/news/aapl-whats-next-for-apple-as-it-forms-a-key-resistance/',
  'urlToImage': 'https://assets.entrepreneur.com/providers/stocknews/hero-image-stocknews-378782.jpeg',
  'publishedAt': '2021-07-29T13:50:23Z',
  'content': 'This story originally appeared on StockNews\r\nA resistance line has formed in the chart of Apple Inc. (AAPL). This line has prevented AAPL from hitting a new 52 week high. But if the stock breaks thro… [+3022 chars]'}]

In [13]:
## Let's make a variable to count the results.

aapl_total = aapl_articles["totalResults"]
print(aapl_total)

957

In [14]:
## Now I'll print an f-string (for later).
## print(f"There were {aapl_total} articles written about AAPL in our News API range.")

In [15]:
## So far, so good!

In [16]:
# Creating the Bitcoin sentiment scores DataFrame
## This came with a *TON* of help from the study group and copy/pasting from class work.

aapl_sentiment = []

for article in aapl_articles["articles"]:
    try:
        text = article["content"]
        sentiment = analyzer.polarity_scores(text)
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        aapl_sentiment.append({
            "positive": pos,
            "negative": neg,
            "neutral": neu,
            "text": text
        })
        
    except AttributeError:
        pass

In [17]:
aapl_sentiment_df = pd.DataFrame(aapl_sentiment)
aapl_sentiment_df.head()

,positive,negative,neutral,text
0,0.029,0.000,0.971,This story originally appeared on StockNews\r\...
1,0.000,0.138,0.862,Information on these pages contains forward-lo...
2,0.133,0.000,0.867,This story originally appeared on StockNews\r\...
3,0.056,0.000,0.944,(CNN Business)Amazon on Thursday pushed back i...
4,0.036,0.000,0.964,It’s less than a week since a succession of re...

In [18]:
## Describe the ticker Sentiment

aapl_sentiment_df.describe()

        positive   negative    neutral
count  20.000000  20.000000  20.000000
mean    0.089500   0.026650   0.883800
std     0.064891   0.045757   0.061466
min     0.000000   0.000000   0.800000
25%     0.034750   0.000000   0.820250
50%     0.087000   0.000000   0.878500
75%     0.136000   0.043250   0.930500
max     0.200000   0.138000   1.000000

In [19]:
## Converting the description to a df.

aapl_described_df = aapl_sentiment_df.describe()
aapl_described_df

        positive   negative    neutral
count  20.000000  20.000000  20.000000
mean    0.089500   0.026650   0.883800
std     0.064891   0.045757   0.061466
min     0.000000   0.000000   0.800000
25%     0.034750   0.000000   0.820250
50%     0.087000   0.000000   0.878500
75%     0.136000   0.043250   0.930500
max     0.200000   0.138000   1.000000

In [20]:
aapl_described_df['positive']['mean']

0.08950000000000001

In [21]:
## This is the logic for generating the "answers" to some of the questions.

aapl_pos = round(aapl_described_df['positive']['mean'],2)*100
aapl_neg = round(aapl_described_df['negative']['mean'],2)*100
aapl_neu = round(aapl_described_df['neutral']['mean'],2)*100
print(f"There were {aapl_total} articles written about AAPL in our range; of those, {aapl_pos}% of the articles were positive, {aapl_neg}% were negative, and {aapl_neu}% were neutral.")

There were 957 articles written about AAPL in our range; of those, 9.0% of the articles were positive, 3.0% were negative, and 88.0% were neutral.

<br>
<hr />

In [22]:
## Below this line is "scratch paper".

In [23]:
## --- ## --- ## --- ##

In [24]:
## This is work I was doing to isolate the volume of chatter as articles per day.

## fomoco_articles = newsapi.get_everything(q='ford motor company',
##    from_param='2021-07-10',
##    to='2021-08-10',
##    language='en',
##  sort_by='relevancy',
##  page=1
##  )

In [25]:
## fomoco_articles['articles'][0]['publishedAt']

In [26]:
## for i in range(0,len(fomoco_articles['articles'])):
##

In [27]:
## print(fomoco_articles['articles'][i]['publishedAt'])