In [1]:
# In this activity, you are tasked with creating a Python script for analyzing the financial records of your company.
# You will be provided with a financial dataset in this file: budget_data.csv. This dataset is composed of two columns, Date and Profit/Losses.
# (Thankfully, your company has rather lax standards for accounting, so the records are simple.)

In [2]:
# Your task is to create a Python script that analyzes the records to calculate each of the following:

In [3]:
# Import provided pnl data set from budget_data.csv file (provided).  Let's see what's in there, and what kind of data it is.

import pandas as pd
from pathlib import Path

data = pd.read_csv('budget_data.csv')

print(data)
print(type(data))

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [4]:
# The total number of months included in the dataset.
print(f"Total months in data set: {(len(data))}.")

Total months in data set: 86.

In [5]:
# The net total amount of Profit/Losses over the entire period.

total = data['Profit/Losses'].sum()
print(f"The total profits for all months is: $ {(total)}.")

The total profits for all months is: $ 38382578.

In [6]:
# The average of the changes in Profit/Losses over the entire period.
average = total / (len(data))
print()
print(f"The monthly average profit was: $ {(round(average, 2))}.")

data['prev_month'] = data['Profit/Losses'].shift(1)
data['difference'] = data['Profit/Losses'] - data['prev_month']
data.head()

average = data['difference'].mean()

print(f"The average monthly change in Profits/Losses was: $ {(round(average,2))}.")

The monthly average profit was: $ 446309.05.
The average monthly change in Profits/Losses was: $ -2315.12.

In [7]:
# Let's see what the budget_data table looks like now ...
data

      Date  Profit/Losses  prev_month  difference
0   Jan-10         867884         NaN         NaN
1   Feb-10         984655    867884.0    116771.0
2   Mar-10         322013    984655.0   -662642.0
3   Apr-10         -69417    322013.0   -391430.0
4   May-10         310503    -69417.0    379920.0
..     ...            ...         ...         ...
81  Oct-16         102685    768450.0   -665765.0
82  Nov-16         795914    102685.0    693229.0
83  Dec-16          60988    795914.0   -734926.0
84  Jan-17         138230     60988.0     77242.0
85  Feb-17         671099    138230.0    532869.0

[86 rows x 4 columns]

In [8]:
# The greatest increase in profits (date and amount) over the entire period.

## I want to use the iloc function to identify (id) the minimum value in the column.
## That object kicks back the index number in idmax, so I used that in the f string to answer the question.

maximum = data['difference'].max()

print(f"The greatest increase in profits was $ {(round(maximum, 2))} on {(data.iloc[data['difference'].idxmax()][0])}.")

The greatest increase in profits was $ 1926159.0 on Feb-12.

In [9]:
# The greatest decrease in losses (date and amount) over the entire period.

## I want to use the iloc function to identify (id) the minimum value in the column.
## That object kicks back the index number in idmin, so I used that in the f string to answer the question.

minimum = data['difference'].min()

print(f"The greatest decrease in profits was $ {(round(minimum, 2))} on {(data.iloc[data['difference'].idxmin()][0])}.")

The greatest decrease in profits was $ -2196167.0 on Sep-13.

In [11]:
# Your resulting analysis should look similar to the following:
# Your final script should print the analysis to the terminal and export a text file with the results.

# Financial Analysis
# ----------------------------
# Total Months: 86
# Total: $38382578
# Average  Change: $-2315.12
# Greatest Increase in Profits: Feb-2012 ($1926159)
# Greatest Decrease in Profits: Sep-2013 ($-2196167)

file_to_output = Path("budget_analysis.txt")
with open (file_to_output, "w") as txt_file:
    txt_file.write(f"Financial Analysis\n")
    txt_file.write(f"----------------------------\n")
    txt_file.write(f"Total Months: {(len(data))}\n")
    txt_file.write(f"Total: $ {(total)}\n")
    txt_file.write(f"The monthly average profit was: {(round(average, 2))}\n")
    txt_file.write(f"Average Change: $ {(round(average,2))}\n")
    txt_file.write(f"Greatest increase in profits: {(data.iloc[data['difference'].idxmax()][0])} (${(round(maximum, 2))})\n")
    txt_file.write(f"Greatest decrease in profits: {(data.iloc[data['difference'].idxmin()][0])} (${(round(minimum, 2))})\n")